.stateSpecificNumbers {
  height: 142px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}
.stateCardBackground {
  margin: 0px;
  padding: 0px;
  width: 100vw;
}
.background-color {
  background-color: #331427;
  border-radius: 10px;
  background-size: cover;
}
@media screen and (max-width: 578px) {
  .stateSpecificNumbers {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 100%;
  }
  .stateCardBackground {
    display: flex;
    width: 36vw;
    flex-wrap: wrap;
    margin-left: 0px;
  }
  .numbers {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    width: 24vw;
    padding-right: 10px;
    padding-left: 0px;
  }
  .confirmedHead {
    font-family: Roboto;
    font-size: 10px;
    font-weight: 200;
    line-height: 10px;
    text-align: left;
  }
  .numberImages {
    width: 20px;
    height: 20px;
    top: 208px;
    left: 86px;
  }
  .confirmedHeadnumbers {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    text-align: center;
  }
}
