.remainingChartsDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.graphChartsDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.dailySpreadHead {
  align-self: flex-start;
  padding-left: 60px;
}
.indGraphsDiv {
  display: flex;
  flex-direction: column;
}
.indGraphs {
  padding: 20px;
}
@media screen and (max-width: 578px) {
  * {
    font-size: 10px;
  }
  .remainingChartsDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    background-size: cover;
    justify-content: flex-start;
    padding-left: 40px;
    margin-left: 80px;
  }
  .graphChartsDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  .dailySpreadHead {
    align-self: flex-start;
    padding-left: 60px;
  }
  .indGraphsDiv {
    display: flex;
    flex-direction: column;
  }
  .indGraphs {
    padding: 20px;
  }
}
