.loaderBg {
  background-color: #161625;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ultimateHomeBg {
  background-color: #161625;
  background-size: cover;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.homeInputCont {
  box-shadow: 0px 8px 16px 0px #171f4614;
  background-color: #2f2f43;
  width: 824px;
  height: 72px;
  color: #94a3b8;
  border-radius: 20px;
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  align-items: center;
  background-size: cover;
  margin-top: 60px;
}
.searchIcon {
  margin-right: 10px;
  margin-left: 10px;
}
.inputEl {
  background-color: transparent;
  color: #94a3b8;
  border: 0 none #94a3b8;
  height: 24px;
}
.homeNumbers {
  height: 142px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}
.numbers {
  width: 24vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.confirmedDiv {
  color: #ff073a;
}
.activeDiv {
  color: #007bff;
}
.recoveredDiv {
  color: #28a745;
}
.deceasedDiv {
  color: #6c757d;
}
.confirmedHead {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}
.numberImages {
  width: 38px;
  height: 38px;
  top: 376px;
  left: 267px;
}
.confirmedHeadnumbers {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
}
.allStatesTable {
  margin-top: 60px;
  border: 1px solid #475569;
  background-color: #1e1e30;
  border-radius: 12px;
}
.tableHead {
  display: flex;
  justify-content: space-evenly;
  width: 90vw;
}
.stateNameHead {
  color: #ffffff;
}
.stateNameHeadDiv {
  color: #ffffff;
  display: flex;
  align-items: center;
}
.ascdescBtn {
  border: 0;
  color: #94a3b8;
  background-color: transparent;
}
.homeOrderIcon {
  color: #94a3b8;
  margin-top: 8px;
}
.remainingHeadins {
  color: #ffffff;
}
.homeHLC {
  border-radius: 20px;
  width: 1146px;
  height: 0px;
  top: 448px;
  left: 150px;
  border: 1px 0px 0px 0px;
  color: #475569;
}
.homeUlList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90vw;
  align-items: center;
  background-size: cover;
}
.searchStateUL {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 768px) {
  .ultimateHomeBg {
    background-color: #161625;
    background-size: cover;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .homeNumbers {
    display: flex;
    flex-wrap: wrap;
  }
  .numbers {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    width: 24vw;
    padding-right: 10px;
    padding-left: 0px;
  }
  .confirmedHead {
    font-family: Roboto;
    font-size: 10px;
    font-weight: 200;
    line-height: 10px;
    text-align: left;
  }
  .numberImages {
    width: 20px;
    height: 20px;
    top: 208px;
    left: 86px;
  }
  .confirmedHeadnumbers {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    text-align: center;
  }
  .homeInputCont {
    width: 312px;
    height: 48px;
    top: 80px;
    left: 24px;
  }
  .allStatesTable {
    margin-top: 60px;
    margin-left: 0px;
    padding-left: 160px;
    border: 1px solid #475569;
    background-color: #1e1e30;
    border-radius: 12px;
    width: 160vw;
    overflow-x: scroll;
    margin-right: 20px;
  }
  .tableHead {
    display: flex;
    padding-right: 20px;
  }
  .stateNameHead {
    color: #ffffff;
    font-size: 16px;
    margin-left: 20px;
  }
  .stateNameHeadDiv {
    color: #ffffff;
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
  .ascdescBtn {
    border: 0;
    color: #94a3b8;
    background-color: transparent;
  }
  .homeOrderIcon {
    color: #94a3b8;
    margin-top: 8px;
    width: 10px;
    height: 10px;
    margin-right: 0px;
  }
  .remainingHeadins {
    color: #ffffff;
    font-size: 16px;
    margin-right: 20px;
  }
  .homeHLC {
    width: 839px;
    height: 0px;
    top: 536px;
    left: 24px;
    border: 1px 0px 0px 0px;
    color: #475569;
  }
  .homeUlList {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 0px;
    align-items: center;
    background-size: cover;
    margin-left: 0px;
  }
  .searchStateUL {
    display: flex;
    align-items: center;
    overflow-x: visible;
    width: 90vw;
    background-size: cover;
    flex-direction: column;
    padding-left: 0px;
    margin-left: 0px;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.home-route-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #161625;
  min-height: 100vh;
  /* margin-top: -70px;
  margin-bottom: -70px; */

  width: 100%;
  padding-top: 50px;
  padding-bottom: 100px;
}

.search-container {
  background: #2f2f43;
  border-radius: 8px;
  height: 50px;
  display: flex;
  align-items: center;
  /* max-width: 70%; */
  width: 700px;
  align-self: center;
  margin-top: 60px;
}

@media screen and (max-width: 768px) {
  .search-container {
    height: 40px;
    max-width: 70%;
  }
}
.search-input {
  font-size: 16px;
  line-height: 24px;
  color: #94a3b8;
  background-color: transparent;
  border: none;
  outline: none;
  width: 90%;
}

@media screen and (max-width: 768px) {
  .search-input {
    line-height: 18px;
    font-size: 14px;
  }
}

.search-icon {
  color: #94a3b8;
  height: 16px;
  margin-left: 30px;
  margin-right: 8px;
}

.search-recommendation-list {
  display: flex;
  flex-direction: column;
  width: 700px;
  margin: 0px;
  padding: 0px;
}
@media screen and (max-width: 768px) {
  .search-recommendation-list {
    max-width: 70%;
  }
}
.state-wise-records {
  /* border: 1px white solid; */
  width: 90%;
}
@media screen and (max-width: 768px) {
  .state-wise-records {
    overflow-x: scroll;
  }
}
.state-wise-total-table-record {
  display: flex;
  flex-direction: column;
  background: #1e1e30;
  border: 1px solid #475569;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
  border-radius: 12px;
  padding-right: 10px;
}
@media screen and (max-width: 768px) {
  .state-wise-total-table-record {
    width: 700px;
    margin-left: 24px;
  }
}

.total-record {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.table-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  border-bottom: 1px solid #475569;
}
.table-results {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: 0px;
}

.table-heading {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #f8fafc;
  text-align: right;
  width: 100px;
}

.sorting-item {
  display: flex;
  align-items: center;
}

.sort-icon {
  color: #94a3b8;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 1px;
}

.hr-line {
  border: 1px solid #475569;
  width: 100%;
}

.stats-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.diff-type-total-case-cards {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .diff-type-total-case-cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
}
.states-records-container {
  width: 100%;
}

.covid-loader-container {
  min-height: 95vh;
  background-color: #161625;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
