.ultimateSpecificState {
  background-color: #161625;
  background-size: cover;
  min-height: 100vh;
  padding: 60px;
  display: flex;
  flex-direction: column;
  color: #ffffff;
}
.nameTested {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: Fixed (312px) px;
  height: Fixed (64px) px;
  top: 144px;
  left: 150px;
}
.specificStateNameHead {
  color: #0ea5e9;
  border-radius: 32px;
  background: #0284c729;
  padding: 10.54px 21.08px 10.54px 21.08px;
}
.testedNumDiv {
  display: flex;
  flex-direction: column;
  padding: 0px;
  justify-content: center;
}
.testedHead {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  color: #94a3b8;
  align-self: flex-end;
  margin: 0px;
}
.testedNum {
  margin: 0px;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
  color: #94a3b8;
}
.lastUpdatedDes {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  margin-top: 0px;
  text-align: left;
  color: #cbd5e1;
}
.topDistrictsDiv {
  padding: 24px;
}
.topDistrictsHeading {
  font-family: Roboto;
  font-size: 32px;
  font-weight: 500;
  line-height: 48px;
  text-align: left;
  color: #ff073a;
}
.topDistrictsUL {
  flex-wrap: wrap;
  padding-left: 0px;
  margin-left: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 88vw;
  background-size: cover;
}
@media screen and (max-width: 578px) {
  .ultimateSpecificState {
    background-color: #161625;
    background-size: cover;
    min-height: 100vh;
    width: 100vw;
    padding: 20px;
    display: flex;
    flex-direction: column;
    color: #ffffff;
  }
  .specificStateNameHead {
    font-size: 12px;
    color: #0ea5e9;
    border-radius: 32px;
    background: #0284c729;
    padding: 10.54px 21.08px 10.54px 21.08px;
  }
  .testedHead {
    font-size: 8px;
  }
  .testedNum {
    margin-top: 10px;
    font-size: 12px;
  }
  .lastUpdatedDes {
    font-size: 8px;
    font-family: Roboto;
    font-weight: 400;
    margin-top: 0px;
    text-align: left;
    color: #cbd5e1;
    padding-left: 10px;
  }
  .topDistrictsDiv {
    padding: 24px;
  }
  .topDistrictsHeading {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 48px;
    text-align: left;
    color: #ff073a;
  }
  .topDistrictsUL {
    flex-wrap: wrap;
    padding-left: 0px;
    margin-left: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-size: cover;
  }
  .specificChartsContainer {
    background-size: cover;
    margin-top: 60px;
    margin-left: 0px;
    padding-left: 160px;
    background-color: #161625;
    width: 160vw;
    overflow-x: scroll;
    margin-right: 20px;
  }
}
