.searchStateLI {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0px 10px 10px 0px;
  width: 80vw;
}
.searchStateP {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #64748b;
}
.searchStateBtn {
  width: Hug (76px) px;
  height: Hug (32px) px;
  top: 236px;
  left: 1032px;
  padding: 4px 6px 4px 6px;
  border-radius: 4px;
  background: #1cd4d429;
  color: #facc15;
  border: 0px;
  align-self: center;
}
