.topDistrictslist {
  display: flex;
  align-items: center;
  width: 16vw;
}
.topDistrictsNum {
  padding-right: 10px;
  padding-left: 40px;
  color: #94a3b8;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
  text-align: left;
}
.topDistrictsName {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  color: #94a3b8;
}
@media screen and (max-width: 578px) {
  .topDistrictslist {
    display: flex;
    padding: 10px;
    align-items: center;
    width: 16vw;
    background-size: cover;
  }
  .topDistrictsNum {
    padding-right: 2px;
    padding-left: 20px;
    color: #94a3b8;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 300;
    text-align: left;
  }
  .topDistrictsName {
    font-family: Roboto;
    font-size: 10px;
    font-weight: 400;
    text-align: left;
    color: #94a3b8;
    width: 100px;
    margin-right: 20px;
  }
}
